
@model Movie

<p>
    Movie ID: @Model.ID <br />
    Title: @Model.Title <br />
    Genre: @Model.Genre <br />
    Year: @Model.Year <br />
    Actor: @Model.Actor <br />
    Director: @Model.Director <br /><br /><br />

    @Model.Title has been added...
</p>